<div class="flex mx-4 flex-wrap">
  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow sm:p-5 dark:bg-gray-800 dark:border-gray-700"
  >
    <h5 class="mb-4 font-medium text-gray-500 dark:text-gray-400">
      {{ plans }}
    </h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-1xl font-semibold">$</span>
      <span class="text-2xl font-extrabold tracking-tight">{{ price }}</span>
      <span class="ms-1 font-normal text-gray-500 dark:text-gray-400"
        >/month</span
      >
    </div>
    <h4 class="font-semibold text-gray-900 dark:text-white">
      {{ monthCount }} Month Duration
    </h4>
    <ul role="list" class="space-y-3 my-3">
      <h4 class="font-semibold text-gray-900 dark:text-white">services</h4>
      <hr />
      <li class="flex items-center">
        <svg
          class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span
          class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
          >{{ photoCount }} Photo</span
        >
      </li>
      <li class="flex">
        <svg
          class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span
          class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
          >{{ videoCount }} Video</span
        >
      </li>
      <li class="flex">
        <svg
          class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span
          class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
          >{{ liveVideoCount }} Live Video Call</span
        >
      </li>
    </ul>
    <button
      (click)="onChoosePlan()"
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-2 py-2.5 inline-flex justify-center w-full text-center"
    >
      Choose plan
    </button>
  </div>
</div>
